$padding-std: 8px !default;
$bg-content: #FFF !default;
$fg-content: #303030 !default;
$fg-minor: #848484 !default;
$bg-nav: #eee !default;
$panel-border-color: #d5d5d5 !default;
$fg-accent-primary: blue !default;
$fg-accent-secondary: purple !default;
$faded-opacity: 0.3 !default;
$line-height-std: 1.5em !default;
$line-height-code: 1.2em !default;
$font-size-std: 20px !default;
$font-size-small: 18px !default;
$font-size-code: 0.85em !default;
$font-weight-header: 600 !default;
$bg-inset: #eee !default;
$transition-time: 0.1s !default;
$fg-header: $fg-content !default;
$font-family-std: "Source Sans Pro", sans-serif !default;
$font-family-code: Menlo, Consolas, Monaco, monospace !default;
$small-screen-width: 550px !default;
$max-reading-content-width: 700px !default;

@import "./HtmlDoc/HtmlDoc.scss";
@import "./StandardPage/StandardPage.scss";