$padding-std: 8px !default;
$bg-content: #fff !default;
// $bg-page: #eee !default;
$bg-page: #fff !default;
$fg-content: #444 !default;
$fg-header: #222 !default;
$fg-minor: #848484 !default;
$bg-nav: #eee !default;
$panel-border-color: #d5d5d5 !default;
$fg-accent-primary: blue !default;
$fg-accent-secondary: purple !default;
$faded-opacity: 0.3 !default;
$line-height-std: 1.5em !default;
$line-height-code: 1.2em !default;
$font-size-std: 18px !default;
$font-size-small: 16px !default;
$font-size-code: 0.88em !default;
$font-weight-header: normal !default;
$bg-inset: #eee !default;
$transition-time: 0.1s !default;
$font-family-std: "Helvetica", sans-serif !default;
$font-family-code: Menlo, Consolas, Monaco, monospace !default;
$small-screen-width: 550px !default;
$centered-content-width: 750px !default;

@mixin centered-content() {
  padding: 0 $padding-std;
  max-width: $centered-content-width;
  margin-left: auto;
  margin-right: auto;
}
