@import "./source-sans-pro.scss";

$padding-std: 8px !default;
$bg-content: #FFF !default;
$fg-content: #444 !default;
$fg-header: #222 !default;
$fg-minor: #848484 !default;
$bg-nav: #eee !default;
$panel-border-color: #d5d5d5 !default;
$fg-accent-primary: blue !default;
$fg-accent-secondary: purple !default;
$faded-opacity: 0.3 !default;
$line-height-std: 1.5em !default;
$line-height-code: 1.2em !default;
$font-size-std: 20px !default;
$font-size-small: 18px !default;
$font-size-code: 0.85em !default;
$font-weight-header: normal !default;
$bg-inset: #eee !default;
$transition-time: 0.1s !default;
$font-family-std: "Helvetica Neue", "Helvetica", sans-serif !default;
$font-family-code: Menlo, Consolas, Monaco, monospace !default;
$small-screen-width: 550px !default;
$max-reading-content-width: 40em !default;
